
.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
   
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logogo{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logogo img{
    width: 80px;
    height: 80px;
}

.logogo h1{
    font-size: 1rem;
    font-weight: 800;
    color: rgb(37, 167, 172)
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 4rem;
    margin-bottom: 0;
}

.iccon span img{
    width: 60px;
    height: 60px;
}

.iccon {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    cursor: pointer;
}

.item a{
    font-weight: 500;
    cursor: pointer;
}

.iccon span i{
    font-size: 1.2rem;
    cursor: pointer;
}

.n_active{
    font-weight: 700 !important;
}

.c_icon  , .f_icon{
    position: relative;
}

.badge{
    position: absolute;
    top: 50%;
    right: 0%;
    content: '';
    background: var(--primary-color);
    color: white;
    border-radius: 50px;
    font-size: .5rem;
    font-weight: 600;
    z-index: 999;
}